/*index.css file*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:1.4em; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:1.4em; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:1.4em Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

/*index.css start at this section*/
/*header section of the page*/
body {
	background: #bbb;
}

#header {
	width: 100%;
	background: #444;
	height: 4em;
	top: 0px;
	padding-top: 1em;
	padding-bottom: 1em; 
}

#header h1 {
	font-size: 2em;
	font-weight: bold;
	color: #FFF;
	display: inline-block;
	float: left;
	margin-left: 5%;
}

#header .user_logo {
	font-size: 2em;
	color: #EE6363;
	display: block;
	right: 10px;
	float: right;
}


/*container section of the page*/
#container {
	margin: auto;
}

#container header img {
	width: 100%;
	height: auto;
}

#container nav {
	height: 100px;
	background: #fff;
	text-align: center;
}

#container nav>span {
	font-size: 1.4em;
	color: #444;
}

#container nav ul {
	width: 60%;
	height: 80px;
	margin: auto;
	display: flex;
	flex-flow: row nowrap;
	text-align: center;
}

#container nav ul li {
	width: 33.3333%;
	height: 100%;
	margin-top: 10px;
	text-align: center;
	color: #aaa;
}

#container section {
	margin: auto;
	width: 95%;
	margin-top: 10px;
}

#container section ul {
	display: flex;
	flex-flow: row wrap;
}

#container section ul li {
	background: red;
	margin-bottom: 10px;
	width: 100%;
}

#container section ul li img {
	width: 40%;
	float: left;
}

#container section ul li div {
	padding: 10px;
	float: left;
	width: 60%;
}

#container section ul li div h3 {
	font-weight: bold;
	color: black;
	font-size: 1.4em;
}

#container section ul li:first-child {
	background: #4169e1;
}

#container section ul li:nth-child(2) {
	background: #EE6363;
}

#container section ul li:nth-child(2) img {
	float: right;
}

#container section ul li:nth-child(2) div {
	width: 60%;
	margin-left: 0px;
}

#container section ul li:last-child {
	background: #91c0cd;
}

/*footer section*/

#footer {
	background: #444;
	height: 3em;
	width: 100%;
	text-align: center;
	color: #fff;
}

#footer span:visited {
	text-decoration: none;
}

#footer span:active {
	text-decoration: none;
}

/*media query*/

